# Predicting Bank Customer Churn
This is an exampel for solving classification problems with Python’s Scikit-learn library

## Installing Required Libraries
- pip3 install numpy
- pip3 install pandas
- pip3 install matplotlib
- pip3 install scikit-learn

In [64]:
# Import
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the Dataset
The dataset for this problem can be downloaded freely from this [kaggle link](https://www.kaggle.com/datasets/hj5992/bank-churn-modelling).

Download the dataset locally and then execute the following command to load the data.

In [79]:
dataset = pd.read_csv('Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [80]:
dataset.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

The output shows that the dataset has 14 columns. 

Based on the first 13 columns, we have to predict the value in the exited column i.e. whether or not the customer will exit the bank within 6 months after the data for the first 13 columns is recorded.

# Preprocessing
Some of the columns in our dataset are totally random and do not help us indicate whether or not a customer will leave the bank.

- RowNumber
- CustomerId
- Surname 

columns do not play any part in a customer’s decision to churn or stay with a bank. 

Remove these three columns from the dataset.

In [66]:
dataset = dataset.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
dataset.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

# Scikit-learn
The Scikit Learn library work with numerical features. Some of the features in our dataset are categorical, like *Geography* and *Gender* which contain textual data.

To convert textual features into numeric features, we can use the one-hot encoding technique. In one-hot encoding, a new column is created for each unique value in the original column.

The integer 1 is added to one of the new columns that corresponds to the original value. 
In the remaining columns 0s are added.

Let’s first remove the categorical columns **Geography** and **Gender** from the dataset and create a temp_dataset without these columns.

In [67]:
temp_dataset =  dataset.drop(['Geography', 'Gender'], axis=1)
temp_dataset.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,42,2,0.00,1,1,1,101348.88,1
1,608,41,1,83807.86,1,0,1,112542.58,0
2,502,42,8,159660.80,3,1,0,113931.57,1
3,699,39,1,0.00,2,0,0,93826.63,0
4,850,43,2,125510.82,1,1,1,79084.10,0

Use Pandas **get_dummies()** method to convert the categorical columns into numeric columns.

In [68]:
onehot_geo = pd.get_dummies(dataset.Geography)
onehot_gen = pd.get_dummies(dataset.Gender)
onehot_geo.head()

   France  Germany  Spain
0       1        0      0
1       0        0      1
2       1        0      0
3       1        0      0
4       0        0      1

The output shows that 1 has been added in the column for France in the first row, while the Germany and Spain columns contain 0. 

This is because in the original Geography column, the first row contained France.

Take these new columns and add them to our temp_dataset where we dropped the original Geography and Gender columns.

In [69]:
final_dataset = pd.concat([temp_dataset, onehot_geo, onehot_gen], axis=1)
final_dataset.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,France,Germany,Spain,Female,Male
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1,0

# Divide the Data into Training and Test
You need to divide our dataset into training and test sets. 

The training set will be used to train the machine learning classifiers, while the test set will be used to evaluate the performance of our classifier.

Before dividing the data into training and test set, we need to divide the data into features and labels. 

The feature set contains independent variables, and the label set contains dependent variable or the labels that you want to predict. 

The following script divides the dataset into feature set X and label set y.

In [70]:
X = final_dataset.drop(['Exited'], axis=1).values
y = final_dataset['Exited'].values

You can further divide the data into training and test sets:

In [71]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Training and Evaluating
You are now ready to train the machine learning models on the dataset. 

There are several machine learning classifiers available in the Scikit-learn library. 

You will be using the Random Forest classifier which is one of the most powerful machine learning classifiers.

We can train our algorithm using the RandomForestClassifier class from the sklearn.ensemble module. 

To train the algorithm we need to pass the training features and labels to the fit() method of the RandomForestClassifier class. 

To make predictions on the test set, the predict() method is used as shown below:

In [72]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=200, random_state=0)  
clf.fit(X_train, y_train)  
y_pred = clf.predict(X_test)

Once the model is trained, you can use a variety of evaluation metrics to measure the algorithm’s performance on your test set. 

Some of the most commonly used measures are accuracy, confusion matrix, precision, recall and F1. 

The following script calculates these values for the model when the model is evaluated on your test set.

In [73]:
from sklearn.metrics import classification_report, accuracy_score

print(classification_report(y_test, y_pred))  
print(accuracy_score(y_test, y_pred ))

              precision    recall  f1-score   support

           0       0.89      0.96      0.92      1595
           1       0.76      0.52      0.62       405

    accuracy                           0.87      2000
   macro avg       0.82      0.74      0.77      2000
weighted avg       0.86      0.87      0.86      2000

0.8695

The output shows that our model achieves an accuracy of 86% on the test set which is pretty good.

# Test dataset
- 605,54,2,56897,1,1,1,250765,0,0,1,0,1
- 100,54,2,1000,1,1,1,100500,0,0,1,1,0

In [77]:
print(clf.predict([ [605,54,2,56897,1,1,1,250765,0,0,1,0,1] ]))

[0]

In [78]:
print(clf.predict([ [100,54,2,1000,1,1,1,100500,0,0,1,1,0] ]))

[1]